In [5]:
#List using loop
x=["muskan","salma","azeeziya"]
for a in range(0,1):
    print(x[a])

muskan

In [7]:
#List
a=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [8]:
a=[1,2,3,4,5,6]
print(a)
print(type(a))
print(2,3)

[1, 2, 3, 4, 5, 6]
<class 'list'>
2 3

In [9]:
a=[1,2,3,4,5,6,"mussu"]
print(a)
print(type(a))
print(4,2)

[1, 2, 3, 4, 5, 6, 'mussu']
<class 'list'>
4 2


->pop to pull out element of the list(default is last) ex: list.pop
->sort the list in ascending order and return none
->def copy is use to copy of the same list
->append object to the end of list
->extend the list by appending and iterating
->index return first index of value
->count will count the num of duplicates
->insert will insert the object before index
->remove will remove the first occurence of value
->len is used to find the lenght of a list

In [20]:
#List Operation's
a=[1,2,3,4,5,6,7,8,9,10]
b=a.copy()
print(b)

c=b.pop(3)
print(c)

b.append(3)
b.append(3)
b.append(10)
print(b)
print(b.index(3))
print(b.count(3))
print(b.count(10))

b.insert(4,9)
print(b)
b.remove(3)
print(b)
b.sort()
print(b)
b.sort(reverse=True)
print(b)

print(len(b))

b.extend(a)
print(b)
print(b+a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4
[1, 2, 3, 5, 6, 7, 8, 9, 10, 3, 3, 10]
2
3
2
[1, 2, 3, 5, 9, 6, 7, 8, 9, 10, 3, 3, 10]
[1, 2, 5, 9, 6, 7, 8, 9, 10, 3, 3, 10]
[1, 2, 3, 3, 5, 6, 7, 8, 9, 9, 10, 10]
[10, 10, 9, 9, 8, 7, 6, 5, 3, 3, 2, 1]
12
[10, 10, 9, 9, 8, 7, 6, 5, 3, 3, 2, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 10, 9, 9, 8, 7, 6, 5, 3, 3, 2, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
a=[10,9,7,63,5,3,3,2,1,11,2,3,42,54,1,2,36,4,5]
for x in a:
    print(x)

10
9
7
63
5
3
3
2
1
11
2
3
42
54
1
2
36
4
5

In [23]:
n=int(input("Enter the size 0t list:"))
a=[]
for x in range(0,n):
    x=input()
    a.append(x)
print(a)

Enter the size 0t list: 5
 7
 3
 5
 8
 3

['7', '3', '5', '8', '3']

In [24]:
L=[item for item in (input("Enter the elements of list:").split())]
print(L)

Enter the elements of list: 1 2 3 4 5 6 7

['1', '2', '3', '4', '5', '6', '7']

In [25]:
L=[int(item) for item in (input("Enter the elements of list:").split())]
print(L)

Enter the elements of list: 1 2 3 4 5 6 7

[1, 2, 3, 4, 5, 6, 7]

In [26]:
#List constructor

a=list([1,2,3,4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
TUPLES

In [27]:
a=(1,2,3,4,5.5,"Raj")
print(a)

(1, 2, 3, 4, 5.5, 'Raj')

In [29]:
#CONVERTING TUPLE TO LIST & LIST TO TUPLE
a=(1,2,3,4,5.5,"Salma")
print(a)

b=list(a)
print(b)
b[5]="Mussu"

a=tuple(b)
print(a)

(1, 2, 3, 4, 5.5, 'Salma')
[1, 2, 3, 4, 5.5, 'Salma']
(1, 2, 3, 4, 5.5, 'Mussu')

In [14]:
a=(1,2,3,4,5,6,7,8,9)

for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

9
8
7
6
5
4
3
2
1

In [9]:
a=(1,2,3,4,5,6,7,8,9)

for x in range(0,len(a)):
    print(a[-1*(x+1)])

9
8
7
6
5
4
3
2
1

In [ ]:
Dictionary

key and values

key values Pair

In [24]:
D={1:"mus",2:"sal",3:"azee"}
print(D)
print(D[2])
print(D.keys())
print(D.values())
print(D.items())

print(D.get(4))

{1: 'mus', 2: 'sal', 3: 'azee'}
sal
dict_keys([1, 2, 3])
dict_values(['mus', 'sal', 'azee'])
dict_items([(1, 'mus'), (2, 'sal'), (3, 'azee')])
None

In [1]:
#write a program to take key & value as input from the user and add it to the dictioary if key is not present in dictionary otherwise printkey already exits and also print its value 

d={1:"anam",2:"alina",3:"sana"}
print(d)
print(d.keys())
print(d.items())
print(d.values())
d[4]="mus"

print(d)
print(d.get(6))
print(d.items())

{1: 'anam', 2: 'alina', 3: 'sana'}
dict_keys([1, 2, 3])
dict_items([(1, 'anam'), (2, 'alina'), (3, 'sana')])
dict_values(['anam', 'alina', 'sana'])
{1: 'anam', 2: 'alina', 3: 'sana', 4: 'mus'}
None
dict_items([(1, 'anam'), (2, 'alina'), (3, 'sana'), (4, 'mus')])

In [ ]:
Error Exception

In [24]:
a=[1,2,3,4,5]
i=int(input("enter the index value"))
try:
    print(a[i])
except:
    print("there is no value in that index")

enter the index value 24

there is no value in that index

In [7]:
try:
    c=10/0
except ValueError:
    print("Data Type Issue")
except ZeroDivisionError:
    print("can't Divide by zero")
except:
    print("Some Unknown Error Found")
else:
    print("No Error")
finally:
    print("code execution done")

can't Divide by zero
code execution done

In [5]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="hello"/3
except ValueError:
    print("value unable to convert")
except ZeroDivisionError:
    print("can't Divide by zero")
except:
    print("Some Unknown Error Found")
else:
    print("No Error")
finally:
    print("code execution done")

 5
 2

Some Unknown Error Found
code execution done

In [6]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
except ValueError:
    print("Data Type Issue")
except ZeroDivisionError:
    print("can't Divide by zero")
except:
    print("Some Unknown Error Found")
else:
    print("No Error")
finally:
    print("code execution done")

 5
 0

can't Divide by zero
code execution done